.cs-calendar {
  display: inline-flex;
  flex-direction: column;
  padding: var(--layout-padding-xl);
  border-radius: var(--radius-lg);
  border: var(--layout-border-thin) solid var(--color-border-neutral-subtle);
  background-color: var(--elevation-surface-default);
  box-shadow: var(--shadow-xs);
}

.cs-calendar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--layout-padding-lg);
}

.cs-calendar__nav-group {
  display: flex;
  align-items: center;
  gap: var(--layout-gap-2xs);
}

.cs-calendar__nav-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: var(--layout-size-2xs);
  height: var(--layout-size-2xs);
  border: none;
  border-radius: var(--radius-sm);
  background: none;
  color: var(--color-text-base-subtle);
  cursor: pointer;
  transition: background-color var(--motion-duration-leaving) var(--motion-easing-default);
}
.cs-calendar__nav-btn:hover {
  background-color: var(--color-background-neutral-subtlest-hover);
}
.cs-calendar__nav-btn:focus-visible,
.cs-calendar__day:focus-visible {
  outline: none;
  box-shadow: 0 0 0 var(--layout-border-thick) var(--color-border-focused);
}

.cs-calendar__weekdays,
.cs-calendar__week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cs-calendar__weekday {
  display: block;
}

.cs-calendar__day {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding: 0;
  width: var(--layout-size-base);
  height: var(--layout-size-base);
  border-radius: var(--radius-full);
  cursor: pointer;
  transition: background-color var(--motion-duration-leaving) var(--motion-easing-default);
}
.cs-calendar__day:disabled {
  cursor: not-allowed;
}
