<div class="cs-avatar-group__stack">
  @for (av of visible; track $index) {
    <div
      class="cs-avatar-group__item"
      [style.width]="sizeValue"
      [style.height]="sizeValue"
      [style.margin-right]="marginFor($index, av)"
      [style.z-index]="$index"
    >
      <div class="cs-avatar-group__ring"></div>
      <cs-avatar
        [size]="size"
        [src]="av.src"
        [alt]="av.alt ?? ''"
        [initials]="av.initials"
        [showPlaceholderIcon]="showPlaceholderIcon"
        [placeholderBg]="av.placeholderBg ?? 'var(--color-background-brand-subtle)'"
      ></cs-avatar>
    </div>
  }

  @if (extra > 0) {
    <div class="cs-avatar-group__extra" [style.width]="sizeValue" [style.height]="sizeValue" [style.z-index]="visible.length">
      <span class="cs-avatar-group__extra-text" [ngStyle]="extraTextStyle">+{{ extra }}</span>
    </div>
  }
</div>

@if (showAddButton) {
  <cs-avatar-add-button [size]="size" (addClick)="add.emit()"></cs-avatar-add-button>
}
